Package: com.fucknima.fuckfile
Name: FuckFile
Version: 1.1.3
Architecture: iphoneos-arm64
Description: Sandboxed iOS file manager - unsigned IPA from GitHub Actions
Maintainer: fucknima
Author: fucknima
Section: Utilities
