Package: com.fuckfile.containers
Name: FuckFile
Version: 1.1.3
Architecture: iphoneos-arm64
Description: Jailed container file manager (MCM identity bypass) - unsigned IPA from GitHub Actions
Maintainer: fucknima
Author: fucknima
Section: Utilities
